{% extends 'base.html' %}

{% block title %}<title>{{ room.title }}</title>{% endblock title %}

{% block content %}
<div>
    <h2 style="display: inline; margin-left: 30px">{{ room.title }}</h2>

    <form action="" method="post" style="display:inline; margin-left: 50px">
        <input id="" type="button" class="btn btn-warning my-2 my-sm-0" value="수정">
    </form>
</div>


<div style="float: left; width: 70%; padding: 30px">
    <h4>채팅</h4>

    <textarea id="chat-log" style="width: 100%; height: 600px" readonly></textarea><br>

    <input id="chat-message-input" type="text" style="width: 100%; margin-top:10px"><br>

    <div style="padding-top: 10px;">
        <input id="chat-message-submit" type="button" class="btn btn-primary my-2 my-sm-0" style="display: inline" value="전송">

        <form action="" method="post" style="display:inline; float: right">
            <input id="leave-room" type="button" class="btn btn-danger my-2 my-sm-0" value="나가기">
        </form>
    </div>

</div>

<div style="float: right; width: 30%; padding: 30px">
    <h4>참여자</h4>
    <textarea id="participants" style="width: 100%; height: 600px; text-align: left" readonly>
        {% for participant in participants %}
        {{ participant }}
        {% endfor %}
    </textarea><br>
</div>

{{ user_nickname|json_script:"user_nickname" }}

<script type="text/javascript">
    const roomId = {{ room.id }};
    const userNickname = JSON.parse(document.getElementById('user_nickname').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomId
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.sender + ' : ' + data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender': userNickname
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock content %}